<!DOCTYPE html>
<html>
    <head>
        <title>Sports Arena</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body onload="startTime()">
      
    <ul class="nav navbar-light" style="background-color: #E6E6FA;">
      <li><img src="/picture/logo.png" alt="Sport Arena" width="100" height="50"></li>
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bookings">Live Booking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/historys">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bookings/new">Book Now</a>
      </li>
      
      <% if(!currentUser){ %>
          <li><a class="nav-link" href="/login">Login</a></li>
          <li><a class="nav-link" href="/register">Sign Up</a></li>
      <% }else{ %>
          <li><a class="nav-link" href="#">Signed In As <%= currentUser.username %></a></li>
          <li><a class="nav-link" href="/logout">Logout</a></li>
      <% } %>
      
    </ul>
    
    <!--flash message-->
    <div class="container">
        <% if(error && error.length >0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>   
        <% } %>
        <% if(success && success.length >0){ %>
            <div class="alert alert-success" role="alert">
                <%= success %>
            </div>  
        <% } %>
    </div> 
    <br>
    <div class="container">
      <!--alarm sound here-->
      <audio id="myAudio" preload="auto">
        <source src="/audio/alarm.mp3" type="audio/mpeg" >
      </audio>
      <button onclick="pauseAudio()" type="button" class="btn btn-default">Stop Alarm</button> 
      
      <!--//Clock-->
      <div id="date"></div>
      <div id="txt"></div>
      
