<% include partials/header %>

<h1>Booking Info</h1>
<button onclick="addMoreForm()">Book More Court</button>
<button onclick="deleteForm()">Cancel Book More Court</button>
<form action="/booking" method="POST">
    
    <label for="type">Sport Category: </label>
    <input type="radio" name="type" onclick="badmintonOption()" value="badminton" checked id="badminton_radio_button">
    <label for="badminton">Badminton</label>
    <input type="radio" name="type" onclick="futsalOption()" value="futsal" id="futsal_radio_button">
    <label for="futsal">Futsal</label>    
    <br>
    
    <label for="courtNum">Court Number: </label>
    <select name="courtNum" class="court_number_drop_down_list">
      <option value="P1">P1</option>
      <option value="P2">P2</option>
      <option value="P3">P3</option>
      <option value="P4">P4</option>
      <option value="P5">P5</option>
      <option value="P6">P6</option>
      <option value="P7">P7</option>
      <option value="P8">P8</option>
      <option value="B1">B1</option>
      <option value="B2">B2</option>
      <option value="B3">B3</option>
      <option value="B4">B4</option>
      <option value="B5">B5</option>
      <option value="B6">B6</option>
      <option value="B7">B7</option>
      <option value="B8">B8</option>
    </select>
    <br>
    <label for="startTime">Start Time: </label>
    <select name="startTime" class="start_time_drop_down_list" onchange="endTimeChangeChecking()">
      <option value="8am">8am</option>
      <option value="8.30am">8.30am</option>
      <option value="9am">9am</option>
      <option value="9.30am">9.30am</option>
      <option value="10am">10am</option>
      <option value="10.30am">10.30am</option>
      <option value="11am">11am</option>
      <option value="11.30am">11.30am</option>
      <option value="12pm">12pm</option>
      <option value="12.30pm">12.30pm</option>
      <option value="1pm">1pm</option>
      <option value="1.30pm">1.30pm</option>
      <option value="2pm">2pm</option>
      <option value="2.30pm">2.30pm</option>
      <option value="3pm">3pm</option>
      <option value="3.30pm">3.30pm</option>
      <option value="4pm">4pm</option>
      <option value="4.30pm">4.30pm</option>
      <option value="5pm">5pm</option>
      <option value="5.30pm">5.30pm</option>
      <option value="6pm">6pm</option>
      <option value="6.30pm">6.30pm</option>
      <option value="7pm">7pm</option>
      <option value="7.30pm">7.30pm</option>
      <option value="8pm">8pm</option>
      <option value="8.30pm">8.30pm</option>
      <option value="9pm">9pm</option>
      <option value="9.30pm">9.30pm</option>
      <option value="10pm">10pm</option>
      <option value="10.30pm">10.30pm</option>
      <option value="11pm">11pm</option>
      <option value="11.30pm">11.30pm</option>
      <option value="12am">12am</option>
      <option value="12.30am">12.30am</option>
      <option value="1am">1am</option>
      <option value="1.30am">1.30am</option>
      <option value="2am">2am</option>
      <option value="2.30am">2.30am</option>
      <option value="3am">3am</option>      
    </select>
    <br>
    <label for="endTime">End Time: </label>
    <select name="endTime" class="end_time_drop_down_list" onchange="endTimeChangeChecking()">
      <option value="8.30am">8.30am</option>
      <option value="9am">9am</option>
      <option value="9.30am">9.30am</option>
      <option value="10am">10am</option>
      <option value="10.30am">10.30am</option>
      <option value="11am">11am</option>
      <option value="11.30am">11.30am</option>
      <option value="12pm">12pm</option>
      <option value="12.30pm">12.30pm</option>
      <option value="1pm">1pm</option>
      <option value="1.30pm">1.30pm</option>
      <option value="2pm">2pm</option>
      <option value="2.30pm">2.30pm</option>
      <option value="3pm">3pm</option>
      <option value="3.30pm">3.30pm</option>
      <option value="4pm">4pm</option>
      <option value="4.30pm">4.30pm</option>
      <option value="5pm">5pm</option>
      <option value="5.30pm">5.30pm</option>
      <option value="6pm">6pm</option>
      <option value="6.30pm">6.30pm</option>
      <option value="7pm">7pm</option>
      <option value="7.30pm">7.30pm</option>
      <option value="8pm">8pm</option>
      <option value="8.30pm">8.30pm</option>
      <option value="9pm">9pm</option>
      <option value="9.30pm">9.30pm</option>
      <option value="10pm">10pm</option>
      <option value="10.30pm">10.30pm</option>
      <option value="11pm">11pm</option>
      <option value="11.30pm">11.30pm</option>
      <option value="12am">12am</option>
      <option value="12.30am">12.30am</option>
      <option value="1am">1am</option>
      <option value="1.30am">1.30am</option>
      <option value="2am">2am</option>
      <option value="2.30am">2.30am</option>
      <option value="3am" selected>3am</option>      
    </select>
    <br>
    
    <label for="name">Name of Customer: </label>
    <input type="text" name="name" placeholder="Name">
    <br>
    <label for="phNumber">Phone Number of Customer: </label>
    <input type="text" name="phNumber" placeholder="Phone Number">
    <br>
    <label for="status">Does customer pay the Booking Fees?: </label>
    <input type="radio" name="status" value="1" checked>
    <label for="1">Paid</label>
    <input type="radio" name="status" value="2">
    <label for="2">Not Paid Yet</label>
    <input type="radio" name="status" value="3">
    <label for="3">Advance Payment</label>
    <br>
    <div id="addOn0">_</div>
    <div id="addOn1">_</div>
    <div id="addOn2">_</div>
    <div id="addOn3">_</div>
    <label for="price">Total Payment: </label>
    <input type="text" name="price" placeholder="Total Booking Fees" id="showPrice" readonly>
    <span onclick="calculateBookingFees()">Calculate</span>
    <br>
    <button>Submit</button>
</form>
<br>

<script type="text/javascript" src="/javascript/javaForForm.js"></script>
<script type="text/javascript" src="/javascript/calculator.js"></script>
<% include partials/footer %>