<% include ../partials/header %> 

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<style>
.white {
  color:white; 
  height:100px; 
  padding:0px;
  margin:0px;
}
.right {    
    position: absolute;
    right: 1px;
    top: 1px;
  
}
#bookNowButton{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  visibility: hidden;
}
</style>
<button id="bookNowButton" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#exampleModalCenter2">Book 30 minutes</button>
<!--<button onclick="detection()">Which Court to switch on or off?</button>-->

<% include ./modal %> 
<% if(currentUser){ %>
<% if (currentUser.location == "SAS"){ %>
  <h2>Sports Arena Sentosa</h2>
<% }else if (currentUser.location == "SABS"){ %>
  <h2>Sports Arena Bukit Serdang</h2>
<% } %>
<% } %>

<hr>
<label for="show_date">Booking Date: </label>
<input type="text" id="show_date" readonly>
<button onclick="request()" class="btn btn-info">Check</button>
<hr>

<div id="carouselExampleFade" class="carousel slide" data-ride="carousel" data-interval=false>
      <!-- Carousel Buttons Next/Prev -->
    <div>
      <a data-slide="prev" href="#carouselExampleFade" class="left carousel-control btn btn-warning">Previous</a>
      <a data-slide="next" href="#carouselExampleFade" class="right carousel-control btn btn-warning">Next</a>
    </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
		<% include ./table/table1 %> 
    </div>
    <div class="carousel-item">
		<% include ./table/table2 %> 
    </div>
     <div class="carousel-item">
		<% include ./table/table3 %> 
    </div>
  </div>
</div>


<hr>
<a href="/cards/badmintoncard">Card View</a><br>

<!--calendar code here-->
<script>
  var abc = document.getElementById("show_date");
  
  function getTodayDate(){
      var today = new Date();
      var day= today.getDate();
      var month= today.getMonth()+1;
      day = checkDate(day);
      month = checkDate(month);
      
      var year= today.getFullYear();
      var fullDate = day + "-" + month + "-" + year;
      return fullDate;
  }
  
  function checkDate(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
  
  abc.value = getTodayDate(); 
  
  $("#show_date").datepicker({
      dateFormat: "dd-mm-yy"
  });

</script>
<script type="text/javascript" src="/javascript/scanning.js"></script>
<script type="text/javascript" src="/javascript/detection.js"></script>
<script type="text/javascript" src="/javascript/query.js"></script>
<script type="text/javascript" src="/javascript/apicall.js"></script>
<script type="text/javascript" src="/javascript/functionality.js"></script>

<% include ../partials/footer %> 