<nav id="navbar-example3" class="navbar navbar-light bg-light">
  <nav class="nav nav-pills flex-column">
    <a class="navbar-brand">8am-2pm</a>
    <a class="nav-link" href="#item-1">Zone P</a>
    <a class="nav-link" href="#item-2">Zone B</a>
    <a class="nav-link" href="#item-3">Futsal</a>
  </nav>
</nav>

<nav id="navbar-example4" class="navbar navbar-light bg-light">
  <nav class="nav nav-pills flex-column">
    <a class="navbar-brand">2pm-8pm</a>
    <a class="nav-link" href="#item-4">Zone P</a>
    <a class="nav-link" href="#item-5">Zone B</a>
    <a class="nav-link" href="#item-6">Futsal</a>
  </nav>
</nav>

<nav id="navbar-example5" class="navbar navbar-light bg-light">
  <nav class="nav nav-pills flex-column">
    <a class="navbar-brand">8pm-3am</a>
    <a class="nav-link" href="#item-7">Zone P</a>
    <a class="nav-link" href="#item-8">Zone B</a>
    <a class="nav-link" href="#item-9">Futsal</a>
  </nav>
</nav>