<div class="card">
    <div class="card-body">
      <h2 class="card-title">'s Booking</h2>
      <p class="card-text">Contact Number: </p>
      <p class="card-text">Total Court:</p>
      
      <table>
          <tr>
            <th>Court Number</th>
            <th>Booking Time</th>
          </tr>
          <tbody id="tbody">
          </tbody>

      </table>
      <br>
      <p class="card-text">Total Payment: RM</p>
  
       <div id="status_show_box"></div> 
    <br>
    <a class="card-link btn btn-warning">Edit</a>
    <button class="card-link btn btn-danger" onclick="deleteRequest()">Delete</button>
    </div>
</div>
