<h2>Badminton Court (2pm - 8pm)</h2>
    <table class="badminton_table table-hover">
      <tr>
        <th></th>
        <th colspan="2">2pm</th>
        <th colspan="2">3pm</th>
        <th colspan="2">4pm</th>
        <th colspan="2">5pm</th>
        <th colspan="2">6pm</th>
        <th colspan="2">7pm</th>
      </tr>
      <tr>
        <th class="courtName">P1</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">P2</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>
     
      </tr>
      <tr>
        <th class="courtName">P3</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">P4</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">P5</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">P6</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">P7</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">P8</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">B1</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">B2</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">B3</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>
 
      </tr>
      <tr>
        <th class="courtName">B4</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">B5</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">B6</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">B7</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">B8</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
    </table>

    <br>
    <h2>Futsal Court (2pm - 8pm)</h2>
    <table class="futsal_table table-hover">
      <tr>
        <th></th>
        <th colspan="2">2pm</th>
        <th colspan="2">3pm</th>
        <th colspan="2">4pm</th>
        <th colspan="2">5pm</th>
        <th colspan="2">6pm</th>
        <th colspan="2">7pm</th>
      </tr>
      <tr>
        <th class="courtName">R1</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">R2</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>
      
      </tr>
      <tr>
        <th class="courtName">R3</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <th class="courtName">R4</th>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>
      </tr>
    </table>