<h2>Badminton Court</h2>
    <table class="badminton_table" border="1">
      <tr>
        <td></td>
        <td colspan="2">2pm</td>
        <td colspan="2">3pm</td>
        <td colspan="2">4pm</td>
        <td colspan="2">5pm</td>
        <td colspan="2">6pm</td>
        <td colspan="2">7pm</td>
      </tr>
      <tr>
        <td>P1</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>P2</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>
     
      </tr>
      <tr>
        <td>P3</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>P4</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>P5</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>P6</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>P7</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>P8</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>B1</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>B2</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>B3</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>
 
      </tr>
      <tr>
        <td>B4</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>B5</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>B6</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>B7</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>B8</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
    </table>

    <br>
    <h2>Futsal Court</h2>
    <table class="futsal_table" border="1">
      <tr>
        <td></td>
        <td colspan="2">2pm</td>
        <td colspan="2">3pm</td>
        <td colspan="2">4pm</td>
        <td colspan="2">5pm</td>
        <td colspan="2">6pm</td>
        <td colspan="2">7pm</td>
      </tr>
      <tr>
        <td>R1</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>R2</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>
      
      </tr>
      <tr>
        <td>R3</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>

      </tr>
      <tr>
        <td>R4</td>
        <td class="white 1400">2pm-2.30pm</td>
        <td class="white 1430">2.30pm-3pm</td>
        <td class="white 1500">3pm-3.30pm</td>
        <td class="white 1530">3.30pm-4pm</td>
        <td class="white 1600">4pm-4.30pm</td>
        <td class="white 1630">4.30pm-5pm</td>
        <td class="white 1700">5pm-5.30pm</td>
        <td class="white 1730">5.30pm-6pm</td>
        <td class="white 1800">6pm-6.30pm</td>
        <td class="white 1830">6.30pm-7pm</td>
        <td class="white 1900">7pm-7.30pm</td>
        <td class="white 1930">7.30pm-8pm</td>
      </tr>
    </table>