<h2 id="item-7" style="background-color:orchid; color:yellow;">Badminton Court Zone P (8pm - 3am)</h2>
    <table class="badminton_table table-hover">
      <tr>
        <td></td>
        <th colspan="2">8pm</th>
        <th colspan="2">9pm</th>
        <th colspan="2">10pm</th>
        <th colspan="2">11pm</th>
        <th colspan="2">12am</th>
        <th colspan="2">1am</th>
        <th colspan="2">2am</th>
      </tr>
      <tr>
        <th class="courtName">P1</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">P2</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">P3</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">P4</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">P5</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">P6</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">P7</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">P8</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
  			<th colspan="13"><h2 id="item-8" style="background-color:deepskyblue; color:yellow;">Badminton Court Zone B (8pm - 3am)</h2></th>
  		</tr>
      <tr>
        <th class="courtName">B1</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">B2</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">B3</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">B4</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">B5</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">B6</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>
      </tr>
      <tr>
        <th class="courtName">B7</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">B8</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
    </table>

    <br>
    <h2 style="border:3px solid lightcoral;">Futsal Court (8pm - 3am)</h2>
    <table class="futsal_table  table-hover">
      <tr>
        <td></td>
        <th colspan="2">8pm</th>
        <th colspan="2">9pm</th>
        <th colspan="2">10pm</th>
        <th colspan="2">11pm</th>
        <th colspan="2">12am</th>
        <th colspan="2">1am</th>
        <th colspan="2">2am</th>
      </tr>
      <tr id="item-9">
        <th class="courtName">R1</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">R2</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>
      
      </tr>
      <tr>
        <th class="courtName">R3</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>

      </tr>
      <tr>
        <th class="courtName">R4</th>
        <td class="white 2000">8pm-8.30pm</td>
        <td class="white 2030">8.30pm-9pm</td>
        <td class="white 2100">9pm-9.30pm</td>
        <td class="white 2130">9.30pm-10pm</td>
        <td class="white 2200">10pm-10.30pm</td>
        <td class="white 2230">10.30pm-11pm</td>
        <td class="white 2300">11pm-11.30pm</td>
        <td class="white 2330">11.30pm-12am</td>
        <td class="white 000">12am-12.30am</td>
        <td class="white 030">12.30am-1am</td>
        <td class="white 100">1am-1.30am</td>
        <td class="white 130">1.30am-2am</td>
        <td class="white 200">2am-2.30am</td>
        <td class="white 230">2.30am-3am</td>
      </tr>
    </table>